<table class="table">
  <thead>
    <tr class="table-container-tr">
      <% transactions_table_headers.each do |h| %>
        <th scope="col">
          <% if h[:sort] == "none" %>
            <%= "#{h[:name]}" %>
          <% else %>
            <%= link_to "#{h[:name]}", origin_transactions_path(ch_remote_params(params, h[:sort])), remote: true, class: "#{params[:sort] == h[:sort] ? 'text-primary' : ''}" %>
          <% end %>
        </th>
      <% end %>
      <th scope="col">Campaign</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @txs.each do |h| %>
      <%= render "tx", h: h %>
    <% end %>
  </tbody>
</table>

<div class="paginationBox p-4">
  <%= paginate @txs %>
</div>