<div class="m-3 row" id="analysis_page">
  <h2>
    现货收益走势图
  </h2>
  <div class="mt-5">
    <%= form_tag revenue_chart_origin_transactions_path, id: "period_targets", method: "GET", class: "row" do %>
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="margin-left:3rem;width:33%;">
        <%= radio_button_tag :period, "quarter", params[:period] == "quarter", class: "btn-check", id: "btnradio1", onclick: "this.form.submit();" %>
        <label class="btn btn-outline-primary quarter" for="btnradio1">三个月</label>
        <%= radio_button_tag :period, "month", params[:period] == "month", class: "btn-check", id: "btnradio2", onclick: "this.form.submit();" %>
        <label class="btn btn-outline-primary month" for="btnradio2">一个月</label>
      </div>
    <% end %>
  </div>
  <div class="chart mb-5">
    <div>
      <%= render partial: "total_revenue_chart" %>
    </div>
  </div>
</div>